$background-colour: #f6f6f8;
$card-bacground-colour: white;

$font-colour: white;//#4b4b4b;

$orange: #f59a5f; //#ff893c;
$intermediate-colour: #45a6d6; //#337CA0;
$green: #1ada8b; //#0e9c62;

$background-gradient-start: #1f1f2c;
$background-gradient-end: #18181c;

$box-gradient-start:#3a3744;//#16151a;
$box-gradient-end:#202735;//#1a1c20;
*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background: linear-gradient($background-gradient-start, $background-gradient-end);
}

h1, h2, h3, h4, h5, h6, i{
    color:$font-colour;
    font-family: 'PT Sans Narrow', sans-serif;
}

h3{
    font-size: 1.1em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 0.8em;
}

#logo{
    width:5%;
    position: fixed;
    top:5px;
    left:5px;
}
header{
    width:100%;
    text-align: center;
    padding:10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    .modal-content{
        background: linear-gradient($box-gradient-start, $box-gradient-end);
    }
    .close{
        color: #fff;
        text-shadow: none;
        opacity: 1;
    }
    .modal-footer{
        border-top:none;
    }
    .modal-header{
        border-bottom:none;
    }

    #treemap-modal{
        .modal-dialog{
            width:85%;
        }
    }
}

@media (min-width: 576px) {
     #treemap-modal {
         .modal-dialog {
             max-width: 95%;
             margin: 1.75rem auto;
         }
     }

    #linechart-modal {
         .modal-dialog {
             max-width: 95%;
             margin: 1.75rem auto;
         }
     }
}
footer{
    text-align: center;
    padding:10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h5{
        margin: 0 3px;
    }
    button{
        background-color: $orange;
        color:$font-colour;
        margin: 0 3px;
    }
}

main{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 0 6px;

    #history-form{
        text-align: center;
        #date{
            border: none;
            padding: 3px;
            background-color: #32323f;
            color: white;
            border-radius: 4px;
            outline:none;
        }
        label{
            color:white;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            color:white;
        }
        button{
            border: none;
            background-color: transparent;
            margin-left: 3px;
        }
    }

    .main-box{
        width:98%;
        margin: 0 3px;


        .card-row{
            display: inline-grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 6px;
            margin: 3px 0;


            .card-data{
                background: linear-gradient($box-gradient-start, $box-gradient-end);
                position: relative;
                padding:10px;
                border-radius: 15px;
                i{
                    margin-top: 5px;
                    font-size: 0.9em;
                }
                h3{
                    font-size: 1em;
                    margin-top:25px;
                    margin-bottom: 4px;
                }
                h4{
                    font-size: .7em;
                    margin-bottom: 15px;
                }

                .card-bar{
                    position: absolute;
                    bottom:15px;
                    right:10px;
                    width:30px;
                    height:3px;

                }

                .orange-bar{
                    background-color: $orange;
                }

                .green-bar{
                    background-color: $green;
                }
            }
        }

        #logo-text{
            width:100%;
            text-align: center;
            padding:10px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width:2.4em;
                margin: 0 5xp;
            }
        }

        #current-trend-graph{
            margin: 3px 0;
            border-radius: 15px;
            text-align: center;
            background: linear-gradient($box-gradient-start, $box-gradient-end);
            padding-top:10px;
            #current-trend-text{
                display: flex;
                width:100%;
                justify-content: space-evenly;
                .current-trend-bar{
                    width:10px;
                    height:10px;
                    border-radius: 100px;
                    background-color: $orange;
                    margin-left: 5px;
                }
                #current-trend-diagnosed{
                    background-color: $green;
                }
                div{
                    display: flex;
                    align-items: baseline;
                }
            }
        }

        .donut-charts{
            display: flex;
            justify-content: space-evenly;

            .donut-chart-box{
                text-align: center;
                padding:10px;
                width:49%;
                position: relative;
                .pie-chart{
                    width:100%;
                }

                .pie-chart-data-text{
                    display: grid;
                    justify-content: center;
                    margin-top: 10px;
                    .pie-chart-text{
                        display: flex;
                        align-items: baseline;
                        width:100%;
                        .circle{
                            width:10px;
                            height:10px;
                            border-radius: 100px;
                            margin-right: 5px;
                        }

                        #orange-circle{
                            background-color: $orange;
                        }

                        #green-circle{
                            background-color: $green;
                        }

                        #intermediate-circle{
                            background-color: $intermediate-colour;
                        }
                    }
                }
            }
        }

        .bar-chart{
            width:100%;
            margin: 5px 0;

            .bar-chart-container{
                width:100%;
                background: linear-gradient($box-gradient-start, $box-gradient-end);
                border-radius: 15px;
                padding: 10px 0;
                text-align: center;
                h5{
                    margin-bottom: 3px;
                }
                #chart_div_age, #chart_div_hospital{
                    width:90%;
                    margin: 0 auto;
                }
            }
        }

        .tree-div-container{
            width:100%;
            padding: 10px;
            border-radius: 15px;
            background: linear-gradient($box-gradient-start, $box-gradient-end);
            text-align: center;
            position: relative;

            #chart_div{
                width:98%;
                margin:  auto;
                height:20em;
            }
        }
    }
}
#chart_div_popup{
    width:100%;
    height:80vh;
}


.information-btn{
    position: absolute;
    top:2px;
    right:2px;
    cursor: pointer;
    font-size: 0.8em;
    outline:none;
    box-shadow:0 0 0 0 black;
}
.tooltip-data{
    z-index: 2000;
}

rect {
  stroke: #272727;//#00000000;
  stroke-width: 0.3;
}

